In [14]:
# Import Dependencies
import pandas as pd

In [15]:
# Reference the file where the CSV and JSON's are located
education_csv = "Resources/Education.csv"
education_json = "Resources/json_education.json"
price_csv = "Resources/Housing_Price.csv"
price_json = "Resources/json_housing_price.json"
income_csv = "Resources/Income.csv"
higher_education_csv = "Resources/HigherEducation.csv"

# Import the data into a Pandas DataFrame
education1_df = pd.read_csv(education_csv)
education2_df = pd.read_json(education_json)
price1_df = pd.read_csv(price_csv)
price2_df = pd.read_json(price_json)
income_df = pd.read_csv(income_csv, on_bad_lines='skip')
HigherEd_df = pd.read_csv(higher_education_csv)
#education1_df
#education2_df
#price1_df
#price2_df
#income_df
#HigherEd_df

In [16]:
merge_csv1_df = pd.merge(education1_df, price1_df, on="state", how="outer")
merge_csv1_df["MedianValue"] = merge_csv1_df["MedianValue"].astype(float).map("${:,.2f}".format)
merge_csv1_df["medianValueZillow"] = merge_csv1_df["medianValueZillow"].astype(float).map("${:,.2f}".format)

In [17]:
merge_csv2_df = pd.merge(merge_csv1_df, HigherEd_df, on="state", how="outer")

In [18]:
merge_csv3_df = pd.merge(merge_csv2_df, income_df, on="state", how="outer")
merge_csv3_df["HouseholdIncome"] = merge_csv3_df["HouseholdIncome"].astype(float).map("${:,.2f}".format)

In [20]:
State_df = merge_csv3_df.rename(columns={"state":"State", "publicSchoolScore":"School Score", "qualityRank":"School Quality Ranking", "safetyRank":"School Safety Ranking","MedianValue":"Median Home Value", "medianValueZillow":"Median Home Value on Zillow", "PercentHighSchoolOrHigher":"Percent of High School Graduates", "PercentBachelorsOrHigher":"Percent of High Education Graduates", "HouseholdIncome": "Average Income" })
State_df

,State,School Score,School Quality Ranking,School Safety Ranking,Median Home Value,Median Home Value on Zillow,Percent of High School Graduates,Percent of High Education Graduates,Average Income
0,Massachusetts,73.14,1,1,"$398,800.00","$559,312.00",91.1,44.5,"$84,385.00"
1,Connecticut,67.50,2,9,"$279,700.00","$343,687.00",90.9,40.0,"$79,855.00"
2,New Jersey,64.36,3,19,"$343,500.00","$441,762.00",90.3,40.7,"$85,245.00"
3,Virginia,61.71,5,2,"$282,800.00","$358,447.00",90.3,39.5,"$76,398.00"
4,New Hampshire,61.57,4,12,"$272,300.00","$411,945.00",93.3,37.6,"$77,923.00"
5,Maryland,60.24,8,4,"$325,400.00","$390,608.00",90.6,40.9,"$87,063.00"
6,Delaware,58.07,16,3,"$258,300.00","$337,543.00",90.6,32.7,"$69,110.00"
7,Nebraska,57.81,12,8,"$164,000.00","$230,672.00",91.6,32.5,"$63,015.00"
8,Wisconsin,57.48,6,28,"$189,200.00","$251,655.00",92.6,30.8,"$63,293.00"
9,Vermont,57.43,15,6,"$230,900.00","$336,310.00",93.5,39.7,"$63,477.00"
10,Rhode Island,57.21,13,10,"$276,600.00","$412,897.00",89.2,35.0,"$70,305.00"
11,Minnesota,57.00,7,36,"$235,700.00","$323,515.00",93.4,36.8,"$73,382.00"
12,Maine,56.87,18,7,"$198,000.00","$344,592.00",93.2,32.5,"$59,489.00"
13,New York,56.42,11,16,"$325,000.00","$382,663.00",87.2,37.5,"$71,117.00"
14,Illinois,56.27,9,24,"$202,100.00","$253,433.00",89.7,35.5,"$68,428.00"
15,Utah,55.87,17,15,"$305,400.00","$544,868.00",93.0,34.7,"$74,197.00"
16,North Dakota,55.30,10,31,"$199,900.00","$266,763.00",93.1,30.7,"$65,315.00"
17,Florida,55.22,14,20,"$232,000.00","$358,018.00",88.5,30.5,"$57,703.00"
18,Kentucky,54.18,23,14,"$147,100.00","$188,439.00",87.2,25.0,"$52,238.00"
19,Iowa,53.71,22,18,"$153,900.00","$183,418.00",92.5,29.3,"$61,836.00"
20,Colorado,53.70,20,23,"$369,900.00","$559,838.00",92.1,41.6,"$75,231.00"
21,Indiana,53.31,25,11,"$148,900.00","$210,166.00",89.3,27.2,"$58,235.00"
22,Wyoming,53.07,24,22,"$228,000.00","$308,862.00",93.6,28.2,"$65,304.00"
23,Pennsylvania,52.86,19,33,"$187,500.00","$254,597.00",91.0,32.3,"$63,627.00"
24,South Dakota,52.43,21,35,"$174,600.00","$277,809.00",92.2,29.3,"$59,896.00"
25,Washington,51.31,27,5,"$366,800.00","$595,732.00",91.7,36.7,"$77,006.00"
26,Montana,50.33,26,37,"$244,900.00","$428,202.00",94.0,33.1,"$56,539.00"
27,Texas,49.86,31,13,"$187,200.00","$289,896.00",84.4,30.7,"$63,826.00"
28,Kansas,47.47,28,41,"$157,600.00","$198,199.00",91.4,33.9,"$61,091.00"
29,Ohio,47.43,33,26,"$151,400.00","$199,959.00",90.8,28.9,"$58,116.00"
30,Tennessee,46.93,30,44,"$177,600.00","$276,963.00",88.2,28.2,"$54,833.00"
31,Georgia,46.22,37,27,"$190,200.00","$295,159.00",87.9,32.2,"$61,224.00"
32,North Carolina,46.06,38,29,"$182,100.00","$296,021.00",88.5,32.0,"$56,642.00"
33,Michigan,45.92,32,43,"$162,600.00","$225,324.00",91.3,30.0,"$59,234.00"
34,Missouri,45.88,29,50,"$163,600.00","$218,208.00",90.6,29.9,"$57,290.00"
35,Idaho,45.20,35,42,"$235,600.00","$466,435.00",91.3,28.7,"$58,915.00"
36,Arkansas,43.84,40,40,"$133,600.00","$169,867.00",87.2,23.8,"$49,475.00"
37,Nevada,43.64,39,46,"$290,200.00","$434,832.00",86.9,25.5,"$62,043.00"
38,Hawaii,43.09,41,32,"$636,400.00","$848,926.00",92.5,33.6,"$83,173.00"
39,California,42.42,36,51,"$538,500.00","$760,800.00",83.9,34.7,"$78,672.00"
40,Oregon,40.96,42,39,"$336,700.00","$502,215.00",91.1,34.4,"$65,667.00"
41,South Carolina,38.94,43,48,"$170,100.00","$269,186.00",88.3,29.0,"$54,864.00"
42,West Virginia,38.47,45,17,"$123,200.00","$129,103.00",87.6,21.3,"$48,037.00"
43,Mississippi,38.22,44,38,"$125,500.00","$157,828.00",85.3,22.8,"$46,511.00"
44,Oklahoma,37.15,46,25,"$142,400.00","$171,057.00",88.6,26.1,"$53,840.00"
45,Alabama,37.02,48,21,"$149,600.00","$194,695.00",86.9,26.2,"$52,035.00"
46,Alaska,36.43,47,30,"$275,600.00","$312,988.00",93.1,30.0,"$77,790.00"
47,Arizona,35.13,49,34,"$242,000.00","$416,433.00",87.9,30.3,"$61,529.00"
48,Louisiana,33.37,50,45,"$168,100.00","$205,972.00",85.9,24.9,"$50,800.00"
49,New Mexico,25.26,51,49,"$175,700.00","$277,617.00",86.5,28.1,"$51,243.00"